@import '../variables/index.scss';

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 0.875rem;
}

p,
.text {
  margin-block-start: 0;
  margin-block-end: 0;

  // Size
  &.xs {
    font-size: 0.75rem;
  }

  &.sm {
    font-size: 0.875rem;
  }

  // Weight
  &.light {
    font-weight: 300;
  }

  &.bold {
    font-weight: bold;
  }
}
