@import '../variables/colors.scss';

html {
  background-color: $bg;
  color: $fonts;
}

button {
  cursor: pointer;
}

a {
  color: $primary;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
