.m-modal {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    padding: 0;
    top: 50%;
    max-height: 85%;
    z-index: 10;
  }
}
