@import '../../../styles/variables/index.scss';

.a-skeleton {
  min-height: 1rem;
  border-radius: $border-radius;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
