@import '../styles/variables/index.scss';
@import '../styles/mixins/globalMixins.scss';

.home {
  margin-top: 5.625rem;
  margin-bottom: 5.625rem;
  text-align: center;

  &-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.loading-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 1rem;

  &-item {
    width: 100%;
    max-width: 30%;
    min-width: 6.875rem;

    @include responsive(mobile) {
      min-width: 100%;
    }
  }

  &-title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
