@import '../styles/variables/index.scss';

.home {
  margin-top: 5.625rem;
  margin-bottom: 5.625rem;
  text-align: center;
}

.card-button {
  border: none;
  background-color: transparent;
  margin: 24px;
}
